main h1 {
    font-size: 35px;
    font-weight: bold;
}

main h1::first-letter {
    text-transform: uppercase;
}

main a {
    text-decoration: none;
    font-size: 20px;
    transition: all .2s;
}


.go_out p {
    font-size: 20px;
    font-weight: bold;
}

.go_out a {
    color: rgb(64, 64, 65);
}

.go_out a:hover {
    color: rgb(119, 119, 121);
}

.recognation a:hover {
    color: #1a1919;
}

.errorlist {
    list-style: circle inside;
}

@media only screen and (max-width: 1001px) {
    .form-reg, .recognation {
        display: block;
        border: 0;
        height: 100%;
    }   

    .form-reg input[type=submit] {
        margin: 10px;
    }

    .container {
		border: 0; 
	}
}