.name input {
    display: none;
}

.name label {
    font-size: 16px;
    color: rgb(69, 69, 199);
    text-decoration: underline;
}

.name label:hover {
    color: rgb(82, 82, 163);
}

.students {
    display: none;
}

.resipient {
    color: red;
}

.sender {
    color: green;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main h1 {
    text-align: center;
}

form p {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

input[type='submit'] {
    float: right;
    font-size: 19px;
}

.message-text {
    display: block;
    white-space: pre-wrap;
}

.people {
    display: flex;
}

.teachers, .groups, .allies {
    margin: 20px;
}

.messaging {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.plug {
    flex-grow: 1;
}

#id_message {
    resize: none;
}