.table-box {
    max-width: 1050px;
}

.print-table {
    width: 100%;
    border: 1px solid rgb(126, 126, 126);
    border-collapse: collapse;
}

.print-table thead {
    border: 1px solid rgb(126, 126, 126);
}

.print-table th, .print-table td {
    border-left: 1px solid rgb(126, 126, 126);
    white-space: nowrap;
    padding: 5px;
}

.print-table td {
    border-bottom: 1px solid rgb(126, 126, 126);
}

.table-box {
    overflow: auto
}