{% extends 'base.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock static %}

{% block title %}Сообщения{% endblock title %}

{% block content %}
<h1>Сообщения</h1>
<div class="people">
    {% if teachers %}
        {% for teacher in teachers %}
            <div class="teachers">
                <h3>Преподаватели</h3>
                    <div class="teacher">
                        <p><a href="{% url 'create-message' teacher.user.id %}">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</a>  {% if teacher.story != 0 %}{{ teacher.story }} непрочитанных сообщений{% endif %}</p>
                    </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if groups %}
        <div class="groups">
            <h3>Студенты</h3>
            {% for name, students in groups.items %}
                <div class="group">
                    <div class="name">
                        <input type="checkbox" name="" id="{{ name }}">
                        <label for="{{ name }}">{{ name }}</label>
                    </div>
                    <div class="students">
                        {% for student in students %}
                            <div class="student">
                                <p><a href="{% url 'create-message' student.user.id %}">{{ student.user.first_name }} {{ student.user.last_name }}</a>  {% if student.story != 0 %}{{ student.story }} непрочитанных сообщений{% endif %}</p>
                                
                            </div>
                        {% empty %}
                            <p>В данной группе нет студентов</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if allies %}
        {% for student in allies %}
            <div class="allies">
                <h3>Одногруппники</h3>
                    <div class="student">
                        <p><a href="{% url 'create-message' student.user.id %}">{{ student.user.first_name }} {{ student.user.last_name }}</a>  {% if student.story != 0 %}{{ student.story }} непрочитанных сообщений{% endif %}</p>
                        
                    </div>
            </div>
        {% endfor %}
    {% endif %}
</div>




{% endblock content %}

{% block js %}
<script>
    $('.name input').each((index, el) => {
        $(el).click((e) => {
            $(el.parentElement).siblings('.students').toggle()
        })
    })
</script>
{% endblock js %}