{% extends 'base.html' %}
{% load static %}

{% block title %}Добавление задания{% endblock title %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock static %}

{% block content %}
<form enctype="multipart/form-data" action="{% url 'create-task' %}" method="post" class="form-fill">
    <h1>Задание</h1>
    {% csrf_token %}
    {{ form.media }}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Создать">
</form>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

<script>
    $(function () {
        $("#id_date_end").datepicker();
        $("#id_date_opening").datepicker();
    });

    let cb = document.getElementById('id_active');
    cb.onchange = checkDateOpen;
    checkDateOpen();

    let group_num = document.getElementById('id_num_group');
    let subject = document.getElementById('id_subject');
    group_num.onchange = getGroupNums;

    function getGroupNums() {
        if (this.value) {
            $.ajax({
                url: '{% url "get-subject" %}',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', num_group: this.value},
                dataType: 'json',
                success: function(data) {
                    setSelect(data)
                }
            })
        } else {
            setSelect();
        }
    }

    function setSelect(data) {
        subject.innerHTML = ''; 
        if (data) {
            subject.disabled = false;

            for (let el of Object.keys(data)) {
                let o = document.createElement('option');
                o.value = el;
                o.text = data[el];
                subject.appendChild(o);
            }
        } else {
            subject.disabled = true;
            let o = document.createElement('option');
            o.text = '---------';
            subject.appendChild(o);
        }
    }

    function checkDateOpen() {
        if (cb.checked) {
            document.getElementById('id_date_opening').value = '';
            document.getElementById('id_date_opening').disabled = true;
        } else {
            document.getElementById('id_date_opening').disabled = false;
        }
    }
</script>
{% endblock js %}