{% extends 'base.html' %}
{% load static %}

{% block title %}Ваши задания{% endblock title %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock static %}

{% block content %}
    <h1>Ответ</h1> 
    <div class="table-box">
        <table class="print-table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Студент</th>
                    <th>Группа</th>
                    <th>Предмет</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ answer.answer.name }}</td>
                    <td>{{ answer.student.user.first_name }} {{ answer.student.user.last_name }}</td>
                    <td>{{ answer.student.num_group }}</td>
                    <td>{{ answer.task.subject }}</td>
                    <td>
                        {% if answer.appraisal %}
                            {{ answer.appraisal }}
                        {% else %}
                            Отсутствует
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="answer">
        <div class="answer-info">
            {% if answer.answer %}
                <p><a href="{{ answer.answer.answer.url }}" target="_blank">Ответ</a></p>
            {% else %}
                <p>Ответа нет</p>
            {% endif %}
        </div>
        <a href="{% url 'create-appraisal' answer.task_id answer.id %}" class="add-appraisal show_popup">Поставить оценку</a>
    </div>
    {% include 'includes/popup.html' %}
{% endblock content %}

{% block js %}
<script>
    $('.add-appraisal').click(function(e) {
        e.preventDefault()
        let form = $('.object')
        $.ajax({
            url: $(this).attr('href'),
            type: 'GET',
            success: function(data) {
                form.append($(data).find('form'))
            },
        })        
    })

</script>
{% endblock js %}