{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/task.css' %}">
{% endblock static %}

{% block content %}



{% if user.is_authenticated %}
    {% if user.student %} 
        {% if open_task or close_task %}
            <div class="table-box">
                <table class="print-table">
                    <caption><p>У вас невыполнено {% if close_task %}{{ close_task|length }}{% else %}{{ open_task|length }}{% endif %} заданий!</p></caption>
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Предмет</th>
                            <th>Дата окончания</th>
                            <th>Задание</th>
                            <th>Ответ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in open_task %}
                            <tr>
                                <td>{{ task.task.name }}</td>
                                <td>{{ task.task.subject }}</td>
                                <td>{{ task.task.date_end }}</td>
                                <td><a href="{{ task.task.task.url }}" target="_blank">{{ task.task.name }}</a></td>
                                <td><a href="{% url 'answer-task' task.pk %}" class="add-answer show_popup">Ответить</a></td>
                            </tr>
                        {% endfor %}
                        {% for task in close_task %}
                            <tr>
                                <td>{{ task.task.name }}</td>
                                <td>{{ task.task.subject }}</td>
                                <td>{{ task.task.date_end }}</td>
                                <td>Откроется {{ task.task.date_opening }}</td>
                                <td>Недоступно</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if end_task %}
            <div class="table-box">
                <table class="print-table">
                    <caption><p>У вас просроченно {{ end_task|length }} заданий!</p></caption>
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Предмет</th>
                            <th>Дата окончания</th>
                            <th>Задание</th>
                            <th>Ответ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in end_task %}
                            <tr>
                                <td>{{ task.task.name }}</td>
                                <td>{{ task.task.subject }}</td>
                                <td>{{ task.task.date_end }}</td>
                                <td><a href="{{ task.task.task.url }}" target="_blank">{{ task.task.name }}</a></td>
                                <td>Отсутствует</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %} 
    {% if user.teacher %}
        {% if unverified %}
            <div class="table-box">
                <table class="print-table">
                    <caption><p>У вас {{ unverified|length }} непроверенных ответов</p></caption>
                    <thead>
                        <tr>
                            <th>Название задания</th>
                            <th>Предмет</th>
                            <th>Студент</th>
                            <th>Название ответа</th>
                            <th>Дата ответа</th>
                            <th>Ответ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for answer in unverified %}
                            <tr>
                                <td>{{ answer.task.name }}</td>
                                <td>{{ answer.task.subject }}</td>
                                <td>{{ answer.student.user.first_name }} {{ answer.student.user.last_name }}</td>
                                <td>{{ answer.answer.name }}</td>
                                <td>{{ answer.answer.date_present }}</td>
                                <td><a href="{% url 'detail-answer' answer.task_id answer.id %}">Проверить</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>У вас нет непроверенных заданий</p>
        {% endif %}
    {% endif %}
    {% if unread %}
        <p>У вас есть непрочитанные сообщения</p>
    {% endif %}
    {% include 'includes/popup.html' %}
{% else %}
    <p>Чтобы увидеть больше информации авторизуйтесь(зарегистрируйтесь)</p>
    <a href="{% url 'login' %}">Войти</a>
    <a href="{% url 'recognation' %}">Зарегистрироваться</a>
{% endif %}
{% endblock content %}

{% block js %}
<script>
    $('.add-answer').click(function(e) {
        e.preventDefault()
        console.log(this)
        let form = $('.object')
        $.ajax({
            url: $(this).attr('href'),
            type: 'GET',
            success: function(data) {
                form.append($(data).find('form'))
            },
        })        
    })

</script>
{% endblock js %}